.page {
  display: grid;
  gap: 14px;
}

.toolbar {
  padding: 16px;  
  position: relative;
  z-index: 20;
}

.results {
  display: grid;
  gap: 12px;
  position: relative;
  z-index: 1;
}

.filtersSection {
  overflow: visible !important; /* Переопределяем возможный overflow */
}