.wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
  padding: var(--size-24);
  background: var(--color-transparent);
}

.backdrop {
  position: fixed;
  inset: 0;
  background: var(--app-background);
  z-index: -1;
}

.content {
  width: min(100%, 440px);
}

@media (max-width: 640px) {
  .wrapper {
    padding: var(--size-16);
  }

  .content {
    width: 100%;
  }
}
