.group {
  display: grid;
  gap: var(--size-14);
}

.group + .group {
  margin-top: var(--size-24);
}

.groupHeader {
  margin: var(--size-10) 0 0;
  padding-left: var(--size-4);
}

.items {
  display: grid;
  gap: var(--size-14);
}
